
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>

    <!-- Link CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <!-- Include JS -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{'/jobs'}">CopywriterGPT</a>
</nav>


<div class="container-fluid">
    <div class="row">
        <th:block th:replace="bar/side :: sidebar"></th:block>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <form class="form-inline" method="post" th:action="@{'/query'}" th:object="${documentsSearchQueryForm}">
                <input type="hidden" th:field="*{templateId}">
                <table class="table"><tr>
                    <th scope="col">
                <select th:field="*{collectionName}" th:value="*{collectionName}">
                <option th:each="collectionName : ${collectionNames}" th:value="${collectionName}" th:text="${collectionName}">collection_name</option>
                </select></th>

                    <th scope="col">
                <input th:field="*{queryString}" class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search"></th>

                    <th scope="col"><input type="submit" class="btn btn-primary" value="Search"></th>
                </tr></table>

                <table class="table">
                    <tr th:each="entry : ${documentsSearchQueryForm.advancedQueryString.entrySet()}">
                        <td><b th:text="${entry.key}">label</b></td>
                        <td><input th:field="*{advancedQueryString[__${entry.key}__]}" class="form-control form-control-dark" type="text" th:value="${entry.value}"></td>
                    </tr>
                </table>
            </form>

            <!--<div>
                <div><b>Template: </b><span th:text="${promptTemplate.name}">template_name</span></div>
                <div th:text="${promptTemplate.content}">template_content</div>
            </div>-->

            <h2>Results</h2>
            <div class="table-responsive">
                <form method="post" th:action="@{'/articles/new'}" th:object="${documentsForm}">
                    <input type="hidden" th:field="*{collectionName}" th:value="*{collectionName}">
                    <input type="hidden" th:field="*{templateId}" th:value="*{templateId}">

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Document</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="document, index : *{documents}">
                        <td>
                            <input type="checkbox" th:field="*{documents[__${index.index}__].selected}">
                            <input type="hidden" th:field="*{documents[__${index.index}__].documentId}" th:value="${document.documentId}">
                        </td>
                        <td>
                            <ul style='list-style-type:none;'>
                                <li th:each="entry : ${document.label2Content.entrySet()}">
                                    <div th:if="${entry.key ne 'id' and entry.key ne 'version'}">
                                        <b th:text="${entry.key}">key</b>: <span th:text="${entry.value}">value</span>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                    <input type="submit" value="Generate Article" class="btn btn-primary">

                </form>
            </div>
            <script>

            </script>

        </main>
    </div>
</div>


</body>
</html>
