
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jobs</title>

  <!-- Link CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

  <!-- Include JS -->
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
<th:block th:replace="bar/topnav :: navbar"></th:block>

<div class="container-fluid">
  <div class="row">
    <th:block th:replace="bar/side :: sidebar"></th:block>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Jobs</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">New job</button>
            <button class="btn btn-sm btn-outline-secondary"></button>
          </div>
        </div>
      </div>

      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>Job name</th>
            <th>Ontology</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <tr th:each="job : ${jobs.getJobInfoResponseList}">
              <td th:text="${job.id}">job_id</td>
              <td th:text="${job.name}">job_name</td>
              <td th:text="${job.ontology.name}">ontology_name</td>
              <td th:text="${job.jobStatus}">job_status</td>
              <td>
                <a th:href="@{'/jobs/' + ${job.id}}" class="btn btn-info" role="button">Details</a>
              </td>
            </tr>
          </tbody>
        </table>

        <h2>New Job</h2>
        <form th:action="@{'/jobs'}" th:object="${jobForm}" method="post" enctype="multipart/form-data">
          <table class="table table-striped table-sm">
            <tbody>
              <tr>
                <th>Job name</th><th>OntologyName</th><th>Tables</th><th></th>
              </tr>
              <tr>
                <td>
                  <input type="text" placeholder="Job name" th:field="*{jobName}">
                </td>
                <td>
                  <select th:field="*{ontologyName}">
                    <option th:each="ontology : ${ontologies.ontologies}" th:text="${ontology.name}" th:value="${ontology.name}"></option>
                  </select>
                </td>
                <td>
                  <input type="file" name="files" multiple>
                </td>
                <td>
                  <input type="submit" value="Create Job" class="btn btn-primary">
                </td>
              </tr>
            </tbody>
          </table>
        </form>

      </div>
    </main>
  </div>
</div>


</body>
</html>
