
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Templates</title>

  <!-- Link CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

  <!-- Include JS -->
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
<th:block th:replace="bar/topnav :: navbar"></th:block>

<div class="container-fluid">
  <div class="row">
    <th:block th:replace="bar/side :: sidebar"></th:block>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Templates</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary"></button>
            <button class="btn btn-sm btn-outline-secondary"></button>
          </div>
        </div>
      </div>

      <h2>Categories</h2>

      <div th:if="${categories.categories.isEmpty()}">
        No categories to show
      </div>

      <div class="table-responsive" style="margin-bottom: 30px;" th:each="category : ${categories.categories}">
        <h3 th:text="${category.name}">category_name</h3>
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>Template name</th>
            <th>Content</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="template : ${category.templates}">
            <td th:text="${template.id}">template_id</td>
            <td th:text="${template.name}">template_name</td>
            <td th:text="${template.content}">template_content</td>
            <td>
              <a th:href="@{'/query?templateId=' + ${template.id} + '&collectionName'}" class="btn btn-primary">Select</a>
            </td>
          </tr>
          </tbody>
        </table>

        <!-- NEW TEMPLATE FORM -->
        <form th:action="@{'/templates'}" th:object="${templateForm}" method="post">
          <input type="hidden" th:field="*{category}" th:value="${category.name}">
        <table class="table table-striped">
          <tbody><tr>
            <td class="col-sm-3">
              <input type="text" placeholder="Template name" th:field="*{name}">
            </td>
            <td class="col-sm-5">
              <textarea style="width: 100%;" rows="7" placeholder="Template content" th:field="*{content}"></textarea>
            </td>
            <td class="col-sm-2">
              <input type="submit" value="Create template" class="btn btn-primary">
            </td>
          </tr></tbody>
        </table>
        </form>

      </div>

      <div>
        <h4>New category</h4>
        <form th:action="@{'/categories'}" method="post" th:object="${categoryForm}">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td class="col-sm-5">
          <input type="text" placeholder="Category Name" th:field="*{categoryName}"></td>
                <td class="col-sm-2"><input type="submit" class="btn btn-primary" value="Confirm"></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>



    </main>
  </div>
</div>


</body>
</html>
